{% assign theme = site.data.themes[site.ui_theme] %}
<!-- Keep the following line here to use Academicons -->
<link rel="stylesheet" href="/css/academicons.min.css"/>
<!-- Displays Social Media Icons based on _config.yml settings -->
<span style="color:{{ theme.social-color }};">
    <i> &nbsp;&nbsp; </i>
    {% if site.twitter %}
        <a class="social-link" href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-twitter-square fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.github %}
        <a href="https://github.com/{{ site.github }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-github-square fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-linkedin fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-codepen fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.stackoverflow %}
        <a href="https://stackoverflow.com/users/story/{{ site.stackoverflow }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-stack-overflow fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.medium %}
        <a href="https://{{ site.medium }}.medium.com/" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-medium fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.keybase %}
        <a href="https://keybase.io/{{ site.keybase }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-keybase"></i></a>
        </span>
    {% endif %} 
    {% if site.googlescholar %}
        <a href="https://scholar.google.com/citations?user={{ site.googlescholar }}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="ai ai-google-scholar-square ai-lg"></i></a>
        </span>
    {% endif %} 
    {% if site.semanticscholar %}
        <a href="https://www.semanticscholar.org/author/{{ site.semanticscholar}}" target="_blank">
        <span style="color: {{ theme.social-color }};">
            <i class="ai ai-semantic-scholar-square ai-lg"></i></a>
        </span>
    {% endif %}
    <i> &nbsp;&nbsp; </i>
</span>
